<div class="main-content">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Query Panel</h4>
                        <p class="card-category">Define your query here</p>
                    </div>
                    <div class="card-body" >
                        <form>
                            <mat-form-field appearance="fill">
                                <mat-label>Type of query</mat-label>
                                <mat-select>
                                  <mat-option value="one">First option</mat-option>
                                  <mat-option value="two">Second option</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <mat-form-field appearance="fill">
                                <mat-label>Name of Product 1</mat-label>
                                <input matInput>
                              </mat-form-field>
                              <mat-form-field appearance="fill">
                                <mat-label>Name of Product 2</mat-label>
                                <input matInput>
                              </mat-form-field>
                              <mat-form-field appearance="fill">
                                <mat-label>Name of Product 3</mat-label>
                                <input matInput>
                              </mat-form-field>
                              <mat-form-field appearance="fill">
                                <mat-label>Name of Product 4</mat-label>
                                <input matInput>
                              </mat-form-field>
                              
                            <!--<div class="row">
                                <div class="col-md-12">
                                  <label>About Me</label>
                                  <mat-form-field class="example-full-width">
                                     <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                   </mat-form-field> -->
                                    <!-- <div class="form-group">
  
                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div> -->
                             <!--  </div> 
                            </div> -->
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Generate Analysis</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-profile">
                <!--    
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                -->
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="card card-chart">
                                <div class="card-header card-header-danger">
                                    <div class="ct-chart" id="completedTasksChart"></div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Analytics</h4>
                                    <p class="card-category">Query Based</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i> updated 4 minutes ago
                                        <!--<i class="material-icons">access_time</i> campaign sent 2 days ago-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-chart">
                                <div class="card-header card-header-danger">
                                    <div class="ct-chart" id="completedTasksChart"></div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Analytics</h4>
                                    <p class="card-category">Query Based</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i> updated 4 minutes ago
                                        <!--<i class="material-icons">access_time</i> campaign sent 2 days ago-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-chart">
                                <div class="card-header card-header-danger">
                                    <div class="ct-chart" id="completedTasksChart"></div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Analytics</h4>
                                    <p class="card-category">Query Based</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i> updated 4 minutes ago
                                        <!--<i class="material-icons">access_time</i> campaign sent 2 days ago-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  