<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ">
            <div class="card card-stats ">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <p class="card-category">Unscanned Shelves</p>
                    <h3 class="card-title">5</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> Tracked from Database
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <p class="card-category">Upcoming Scans</p>
                    <h3 class="card-title">2
                        
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> Tracked from Database
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">Scanned Shelves</p>
                    <h3 class="card-title">15</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> Tracked from Database
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Shelf Insights</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Sales Stats
                                  </th>
                                  <th>
                                      Code
                                  </th>
                                  <th>
                                      Quantity left
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          MDH Masala
                                      </td>
                                      <td>
                                          High
                                      </td>
                                      <td>
                                          #01MH25
                                      </td>
                                      <td class="text-primary">
                                          27
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Society Tea
                                      </td>
                                      <td>
                                          Low
                                      </td>
                                      <td>
                                          #01MH32
                                      </td>
                                      <td class="text-primary">
                                          35
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Hamam Soap
                                      </td>
                                      <td>
                                          High
                                      </td>
                                      <td>
                                          #01MH42
                                      </td>
                                      <td class="text-primary">
                                          102
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Rose oil
                                      </td>
                                      <td>
                                          High
                                      </td>
                                      <td>
                                          #01MH89
                                      </td>
                                      <td class="text-primary">
                                          45
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Gulab Jamumn Packet
                                      </td>
                                      <td>
                                          Moderate
                                      </td>
                                      <td>
                                          #MH0256
                                      </td>
                                      <td class="text-primary">
                                          15
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Vim bar
                                      </td>
                                      <td>
                                          High
                                      </td>
                                      <td>
                                          #01MH69
                                      </td>
                                      <td class="text-primary">
                                          95
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
